body {
    animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color: rgb(145, 199, 250);}
    25%{background-color:rgb(80, 160, 197);}
    50%{background-color:rgb(145, 199, 250);}
    75%{background-color:rgb(80, 160, 197);}
    100% {background-color: rgb(50, 135, 205);}
  }